@font-face {
  font-family: 'Vyaz';
  src: url('../fonts/triodion.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  font-family: serif;
  background: #fff;
  color: #000;
}

a {
  color: inherit;
  text-decoration: none;
}

.landing {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.enter {
  font-size: 48px;
}

.page {
  max-width: 800px;
  margin: 80px auto;
  padding: 0 20px;
}

.not-found {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
